!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title SmsJs
    = javascript_include_tag '/assets/libs.js'
    = javascript_include_tag '/assets/application.js'
    = include_stylesheets :all
    = yield_content :head
  %body{:class => page_classes}
    = yield
  :javascript
    var config = {
    };
    $(function() {
      Application.init(config);
    });
